<ion-view hide-back-button="true" view-title="Dashboard" view-name="Dashboard">
  <ion-content class="has-header padding">
    <div class="padding">
      <h3 class="text-center">Principal</h3>
      <div class="list">
        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-assertive">Citas</button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-calm">Historial</button>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-assertive">Mensajes</button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-calm">Cotizaciones</button>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-assertive">Pagos</button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-calm">Notificar</button>
          </div>
        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
