<ion-view view-title="Historial Clínico">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>
  <ion-content class="has-header blue-bg history">
    <h3 class="padding-top">Información Básica</h3>
    <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        Elías Gómez Castro
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        (+506) 8521-7944
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-alert-circled"></i>
        (+506) 8980-2941
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-email"></i>
        eliasdevcr@gmail.com
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-document-text"></i>
        <p>Utilicé frenillos durante 3 años del 2012 al 2015.</p>
      </div>
    </div>

    <h3>Actualizar Expediente</h3>
    <ul class="list">
      <li class="item">
        <p>Cual es su estado de salud? R/Bueno</p>
      </li>
      <li class="item">
        <p>En los últimos dos años ha sufrido cambios de salud? R/No</p>
      </li>
      <li class="item">
        <p>Cuándo fue su último exámen médico? 2016-01-23</p>
      </li>
      <li class="item">
        <p>Está actualmente bajo algún tratamiento médico? R/No</p>
      </li>
      <li class="item">
        <p>Fuma usted? R/Sí</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
