<ion-view hide-back-button="true" view-title="Expediente">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>
  <ion-content class="has-header blue-bg history">
    <h3>Actualizar Expediente</h3>
    <ul class="list">
      <li class="item">
        <p>Cual es su estado de salud? R/Bueno</p>
      </li>
      <li class="item">
        <p>En los últimos dos años ha sufrido cambios de salud? R/No</p>
      </li>
      <li class="item">
        <p>Cuándo fue su último exámen médico? 2016-01-23</p>
      </li>
      <li class="item">
        <p>Está actualmente bajo algún tratamiento médico? R/No</p>
      </li>
      <li class="item">
        <p>Fuma usted? R/Sí</p>
      </li>
    </ul>
  </ion-content>
</ion-view>
