<ion-view hide-back-button="true" view-title="Expediente">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>
  <ion-content class="has-header blue-bg history" scroll="false">

    <ion-slides slider="data.slider">
      <ion-slide-page ng-repeat="item in questionsList">
        <div class="box">
          <h1></h1><br><br><br><br><br>
          <div class="center-img">
            <img src="../img/ionic.png" alt="">
          </div>
          <br>
          <div class="question">
            <h3>{{ item.question }}</h3><br><br>
            <div ng-if="item.answers.length == 1" class="one-answer">
              <label class="item item-input">
                <input type="text" placeholder="{{ item.answers[0] }}">
              </label>
            </div>
            <div ng-if="item.answers.length == 2" class="two-answer">
              <div class="button-bar">
                <a class="button balanced">{{ item.answers[0] }}</a>
                <a class="button assertive">{{ item.answers[1] }}</a>
              </div>
            </div>
            <div ng-if="item.answers.length == 3" class="three-answer">
              <div class="button-bar">
                <a class="button balanced" id="a-bueno" ng-click="correctAnswer()">{{ item.answers[0] }}</a>
                <a class="button assertive" id="a-malo" ng-click="badAnswer()">{{ item.answers[1] }}</a>
                <a class="button positive" id="a-regular" ng-click="sosoAnswer()">{{ item.answers[2] }}</a>
              </div>
            </div>
          </div>
        </div>
        <button class="button button-assertive help-btn" ng-click="showQuestionsHelp(item.help)">
          Ayuda
        </button>
      </ion-slide-page>
    </ion-slides>
    <div class="center-img" id="icon-answer">
      <img class="hide" src="../img/bad.png" id="image-answer" alt="">
    </div>
  </ion-content>
</ion-view>

