.blue-bg{
  /*background: rgba(0, 0, 0, 0) linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) repeat scroll 0 0;*/
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
.center-vertical{
  position: absolute;
  top: 30%;
  transform: translateY(30%);
  width: 100%;
}
.relative{
  position: relative;
}
.white{
  color: #FFFFFF;
}
.transparent-item{
  background-color: transparent;
}
.text-bottom{
  position: absolute;
  bottom: 0px;
  width: 100%
}
.take-pic{
  font-size: 25px;
}
.profile-pic{
  font-size: 115px;
}
.item p{
  white-space: pre-wrap !important;
}
.light-grey-bg{
  background: #EEEEEE;
}
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 45vh;
}



/* ==========CSS talk bubble========== */

.talk-bubble {
  color: #FFFFFF;
  margin: 10px 30px 10px 0;
  position: relative;
  width: 70%;
  height: auto;
  background-color: #11c1f3;
  float: right;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.talk-bubble-left {
  color: #333333;
  float: left;
  background-color: #FFFFFF;
  margin: 10px 0 10px 30px;
}
.round {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

}
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 20%;
  bottom: auto;
  border: 12px solid;
  border-color: #11c1f3 transparent transparent #11c1f3;
}
.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 20%;
  bottom: auto;
  border: 12px solid;
  border-color: #FFFFFF #FFFFFF transparent transparent;
}
/* talk bubble contents */
.talktext {
  padding: 5px 10px;
  text-align: left;
  line-height: 1.5em;
}
.talkimage {
  padding: 5px;
  text-align: center;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.history h3{
  text-align: center;
  color: #FFFFFF;
}
.news-tabs {
  padding: 0 !important;
  margin: 0 !important;
}
.news-wrapper{
  width: 100%;
}
.news-cover{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 200px;
  overflow: hidden;
}
.news-avatar img{
  padding-top: 5px;
  width: 16px;
}
.news-title{
  height: 45px;
}
.news-title h5{
  font-weight: bold;
}
.color-lightblue{
  background-color: lightblue;
}

.center-img{
  text-align: center;
  margin: 0 auto;
}

.help-btn{
  position: absolute;
  top: 5px;
  right: 5px;
}

#icon-answer{
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 1s all;
}
#icon-answer > img{
  width: 80px;

}

.animateAnswer{
  -webkit-animation: desva 1s linear; /* Safari 4.0 - 8.0 */
  animation: desva 1s linear;
}

@keyframes desva {
  0% { transform: translateY(205px); }
  100% { transform: translateY(0px); }
}
